product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
system/system/app/HMDCamera/HMDCamera.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
odm/600ID/app/MyHomeCredit600ID/MyHomeCredit600ID.apk
